@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;0,800;1,400&display=swap');


.main_btn {
   background-color: #80B3FF;
   color: #fff;
   border: none;
   border-radius: 8px;
   padding: 10px 35px;
   font-family: 'Noto Sans', sans-serif;
   width: 170px;
   margin-bottom: 10px;
}

.icon_btn {
   background-color: #80B3FF;
   color: #fff;
   border: none;
   border-radius: 8px;
   padding: 10px 35px;
   font-family: 'Noto Sans', sans-serif;
   width: 170px;
   margin-bottom: 10px;
}

.btns {
   background-color: #80B3FF;
   color: #fff;
   border: none;
   padding: 15px 20px;
}
.button_block {
   display: flex;
   gap: 10px;
}